form {
  position: relative;
  overflow: hidden;
  padding: 10px 15px;
  background-color: #e7e9ea;
  border-radius: 3px;
  height: 100px;
  cursor: default;
  &:hover {
    .action-container {
      right: 15px;
    }
  }
  &.in-progress {
    &:hover {
      .action-container {
        right: -60px;
      }
    }
  }
  input {
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    color: #5f6669;
    padding: 1px 5px;
    background-color: #fff;
    border: 0;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    &[disabled] {
      background-color: transparent;
      border: 0;
      box-shadow: none;
    }
  }

  .action-container {
    position: absolute;
    right: -60px;
    top: 14px;
    transition: 0.3s right;
    i {
      font-size: 15px;
      color: #5f6669;
      cursor: pointer;
    }
  }
}
