<form novalidate autocomplete="off" [ngClass]="{'in-progress': editing}">
  <input type="text" name="board-name" [(ngModel)]="board.name" [disabled]="!editing" (blur)="editBoard()"
         title="board-name" (keypress)="checkEnterKeypress($event)">
  <div class="action-container">
    <i class="icon-board" (click)="navigateToBoard()" title="See board."></i>
    <i class="icon-edit" (click)="editing = true" title="Edit board."></i>
    <i class="icon-delete" (click)="deleteBoard()" title="Delete board."></i>
  </div>
</form>
