<div class="board-root">
  <h2>
    <i class="icon-board"></i>Boards</h2>
  <p (click)="toggleBoardForm()" *ngIf="!showBoardFrom">Create new board
    <i class="icon-add"></i>
  </p>
  <p (click)="toggleBoardForm()" *ngIf="showBoardFrom">Hide board form
    <i class="icon-up"></i>
  </p>
  <form *ngIf="showBoardFrom"
        #boardForm="ngForm"
        autocomplete="off"
        novalidate
        (submit)="submitBoardForm(boardForm)">
    <input type="text"
           name="board-name"
           ngModel
           title="board-name">
    <input type="submit" value="Create">
  </form>
  <ul [ngClass]="{'hide': boardCrudService.loader}">
    <li *ngFor="let board of boardCrudService.boards">
      <t-board-content [board]="board"></t-board-content>
    </li>
  </ul>
</div>
